In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

:

In [20]:
## Load the dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [21]:
## Preprocess the data
### Drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [22]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [23]:
# ## Encode categorical variables
# label_encoder_gender=LabelEncoder()
# data['Geography']=label_encoder_gender.fit_transform(data['Geography'])
# data

# #clearly we can see there are 3 kind of catgorical variable present in the data so it will mean that whichever country is getting code 2 will have more importance than the country getting code 0 so we dont use Label Encoder technique instead we will use one hot encoding technique to deal with such dat

In [24]:
## Onehot encode 'Geography'
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [25]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [26]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [27]:
## Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [28]:
## Save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [30]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [31]:
## DiVide the dataset into indepent and dependent features
X=data.drop('Exited',axis=1)
y=data['Exited']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [32]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [33]:
X_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [34]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [35]:
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

### ANN Implementation

In [36]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\priya\Desktop\GitHub\Personal\ann_project\annPy\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [37]:
X_train.shape[1],

(12,)

In [ ]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected with input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid')  ## output layer
]

)

WARNING:tensorflow:From c:\Users\priya\Desktop\GitHub\Personal\ann_project\annPy\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [40]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [41]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [42]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [43]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [45]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [46]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\priya\Desktop\GitHub\Personal\ann_project\annPy\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\priya\Desktop\GitHub\Personal\ann_project\annPy\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 2ms/step - loss: 0.4044 - accuracy: 0.8288 - val_loss: 0.3492 - val_accuracy: 0.8590
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3581 - accuracy: 0.8519 - val_loss: 0.3429 - val_accuracy: 0.8585
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3474 - accuracy: 0.8579 - val_loss: 0.3523 - val_accuracy: 0.8555
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8600 - val_loss: 0.3473 - val_accuracy: 0.8605
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8584 - val_loss: 0.3413 - val_accuracy: 0.8600
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8641 - val_loss: 0.3387 - val_accuracy: 0.8605
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8618 - val_loss: 0.3412 - val_accuracy: 0.8675
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3313 - accuracy: 0.8644 - val_loss: 0.3507 - val_accuracy: 0.8605
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3287 - accuracy: 0.8662 - val_loss: 0.3490 - val_accuracy: 0.8640
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3298 - accuracy: 0.8627 - val_loss: 0.3437 - val_accuracy: 0.8655
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3263 - accuracy: 0.8671 - val_loss: 0.3452 - val_accuracy: 0.8585
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3227 - accuracy: 0.8676 - val_loss: 0.3525 - val_accuracy: 0.8655
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3201 - accuracy: 0.8694 - val_loss: 0.3425 - val_accuracy: 0.8630
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3212 - accuracy: 0.8679 - val_loss: 0.3405 - val_accuracy: 0.8665
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3138 - accuracy: 0.8702 - val_loss: 0.3520 - val_accuracy: 0.8675
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3157 - accuracy: 0.8701 - val_loss: 0.3405 - val_accuracy: 0.8615

In [47]:
model.save('model.h5')

c:\Users\priya\Desktop\GitHub\Personal\ann_project\annPy\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [64]:
## Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [70]:
%tensorboard --logdir logs/fit/20241207-133933

Reusing TensorBoard on port 6007 (pid 5160), started 0:01:17 ago. (Use '!kill 5160' to kill it.)

In [63]:
!pip install tensorboard
import tensorboard

Collecting tensorboard
  Using cached tensorboard-2.18.0-py3-none-any.whl.metadata (1.6 kB)
Collecting absl-py>=0.4 (from tensorboard)
  Using cached absl_py-2.1.0-py3-none-any.whl.metadata (2.3 kB)
Collecting grpcio>=1.48.2 (from tensorboard)
  Downloading grpcio-1.68.1-cp312-cp312-win_amd64.whl.metadata (4.0 kB)
Requirement already satisfied: markdown>=2.6.8 in c:\users\priya\anaconda3\lib\site-packages (from tensorboard) (3.4.1)
Requirement already satisfied: numpy>=1.12.0 in c:\users\priya\anaconda3\lib\site-packages (from tensorboard) (1.26.4)
Requirement already satisfied: packaging in c:\users\priya\anaconda3\lib\site-packages (from tensorboard) (23.2)
Requirement already satisfied: protobuf!=4.24.0,>=3.19.6 in c:\users\priya\anaconda3\lib\site-packages (from tensorboard) (3.20.3)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\priya\anaconda3\lib\site-packages (from tensorboard) (69.5.1)
Requirement already satisfied: six>1.9 in c:\users\priya\anaconda3\lib\site-packages (from tensorboard) (1.16.0)
Collecting tensorboard-data-server<0.8.0,>=0.7.0 (from tensorboard)
  Using cached tensorboard_data_server-0.7.2-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\priya\anaconda3\lib\site-packages (from tensorboard) (3.0.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\priya\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard) (2.1.3)
Downloading tensorboard-2.18.0-py3-none-any.whl (5.5 MB)
   ---------------------------------------- 0.0/5.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/5.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/5.5 MB 653.6 kB/s eta 0:00:09
   - -------------------------------------- 0.1/5.5 MB 1.4 MB/s eta 0:00:04
   -- ------------------------------------- 0.4/5.5 MB 2.7 MB/s eta 0:00:02
   ------ --------------------------------- 0.9/5.5 MB 4.2 MB/s eta 0:00:02
   ------- -------------------------------- 1.0/5.5 MB 4.4 MB/s eta 0:00:02
   -------- ------------------------------- 1.2/5.5 MB 4.3 MB/s eta 0:00:01
   ---------- ----------------------------- 1.4/5.5 MB 4.2 MB/s eta 0:00:01
   ---------- ----------------------------- 1.4/5.5 MB 4.1 MB/s eta 0:00:02
   ---------- ----------------------------- 1.4/5.5 MB 4.1 MB/s eta 0:00:02
   ----------- ---------------------------- 1.6/5.5 MB 3.3 MB/s eta 0:00:02
   -------------- ------------------------- 2.1/5.5 MB 4.0 MB/s eta 0:00:01
   ---------------- ----------------------- 2.3/5.5 MB 4.0 MB/s eta 0:00:01
   ----------------- ---------------------- 2.5/5.5 MB 4.0 MB/s eta 0:00:01
   ------------------- -------------------- 2.7/5.5 MB 4.0 MB/s eta 0:00:01
   ------------------- -------------------- 2.7/5.5 MB 4.0 MB/s eta 0:00:01
   ------------------- -------------------- 2.7/5.5 MB 4.0 MB/s eta 0:00:01
   ------------------- -------------------- 2.7/5.5 MB 4.0 MB/s eta 0:00:01
   -------------------- ------------------- 2.9/5.5 MB 3.4 MB/s eta 0:00:01
   ------------------------ --------------- 3.4/5.5 MB 3.8 MB/s eta 0:00:01
   --------------------------- ------------ 3.7/5.5 MB 4.0 MB/s eta 0:00:01
   ---------------------------- ----------- 3.9/5.5 MB 4.0 MB/s eta 0:00:01
   ----------------------------- ---------- 4.1/5.5 MB 4.0 MB/s eta 0:00:01
   ------------------------------ --------- 4.2/5.5 MB 4.0 MB/s eta 0:00:01
   -------------------------------- ------- 4.4/5.5 MB 4.0 MB/s eta 0:00:01
   --------------------------------- ------ 4.6/5.5 MB 4.0 MB/s eta 0:00:01
   ---------------------------------- ----- 4.8/5.5 MB 4.0 MB/s eta 0:00:01
   ----------------------------------- ---- 4.9/5.5 MB 3.9 MB/s eta 0:00:01
   ------------------------------------ --- 5.0/5.5 MB 3.9 MB/s eta 0:00:01
   ------------------------------------ --- 5.0/5.5 MB 3.9 MB/s eta 0:00:01
   ------------------------------------ --- 5.0/5.5 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------- 5.5/5.5 MB 3.9 MB/s eta 0:00:00
Using cached absl_py-2.1.0-py3-none-any.whl (133 kB)
Downloading grpcio-1.68.1-cp312-cp312-win_amd64.whl (4.4 MB)
   ---------------------------------------- 0.0/4.4 MB ? eta -:--:--
   -- ------------------------------------- 0.2/4.4 MB 6.9 MB/s eta 0:00:01
   ----- ---------------------------------- 0.6/4.4 MB 7.9 MB/s eta 0:00:01
   ------- -------------------------------- 0.8/4.4 MB 6.5 MB/s eta 0:00:01
   --------- ------------------------------ 1.0/4.4 MB 5.7 MB/s eta 0:00:01
   ---------- ----------------------------- 1.2/4.4 MB 5.4 MB/s eta 0:00:01
   ------------ --------------------------- 1.4/4.4 MB 5.1 MB/s eta 0:00:01
   ------------- -------------------------- 1.5/4.4 MB 4.9 MB/s eta 0:00:01
   --------------- ------------------------ 1.7/4.4 MB 4.7 MB/s eta 0:00:01
   ----------------- ---------------------- 1.9/4.4 MB 4.6 MB/s eta 0:00:01
   ------------------ --------------------- 2.1/4.4 MB 4.5 MB/s eta 0:00:01
   -------------------- ------------------- 2.2/4.4 MB 4.5 MB/s eta 0:00:01
   ---------------------- ----------------- 2.4/4.4 MB 4.4 MB/s eta 0:00:01
   ----------------------- ---------------- 2.6/4.4 MB 4.4 MB/s eta 0:00:01
   ------------------------- -------------- 2.8/4.4 MB 4.3 MB/s eta 0:00:01
   -------------------------- ------------- 2.9/4.4 MB 4.4 MB/s eta 0:00:01
   ---------------------------- ----------- 3.1/4.4 MB 4.3 MB/s eta 0:00:01
   ------------------------------ --------- 3.3/4.4 MB 4.3 MB/s eta 0:00:01
   ------------------------------- -------- 3.5/4.4 MB 4.3 MB/s eta 0:00:01
   --------------------------------- ------ 3.7/4.4 MB 4.3 MB/s eta 0:00:01
   ---------------------------------- ----- 3.8/4.4 MB 4.2 MB/s eta 0:00:01
   ------------------------------------ --- 4.0/4.4 MB 4.2 MB/s eta 0:00:01
   -------------------------------------- - 4.2/4.4 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------  4.4/4.4 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------- 4.4/4.4 MB 4.1 MB/s eta 0:00:00
Using cached tensorboard_data_server-0.7.2-py3-none-any.whl (2.4 kB)
Installing collected packages: tensorboard-data-server, grpcio, absl-py, tensorboard
Successfully installed absl-py-2.1.0 grpcio-1.68.1 tensorboard-2.18.0 tensorboard-data-server-0.7.2

In [ ]:
ten